@{ 
    var rnd = new Random();
}
<hr />
<p>@(new string('-', rnd.Next(10,100)))</p>
<hr />
<p>@(DateTime.Now.ToString("yyyy.MM.dd HH:mm:ss fff"))</p>
<hr />
<p>@(new string('-', rnd.Next(10,100)))</p>
<hr />