<style>
    #messages p:first-child {
        background-color: green;
        color: white;
        font-size: 16px;
        font-weight: bold;
    }
</style>
<button id="btn">Get Data</button>
<div id="messages">
    <p>lorem ipsum</p>
</div>
<script>
    $(function () {
        function getformatDate() {
            var currentdate = new Date();
            return currentdate.getHours() + ":"
                + currentdate.getMinutes() + ":"
                + currentdate.getSeconds() +
                " @@ ";
        }
        function getData() {
            $.ajax({
                url: '/Home/Control',
                type: 'POST',
                success: function (response) {
                    if ($('#messages p').length > 30) {
                        $('#messages').empty();
                        $('#messages').append($('<p>was cleard</p>'));
                    }
                    $('#messages').prepend($(`<p>${getformatDate()}      CACHE DATA : ${response}</p><hr/>`));
                }
            });
        }
        var interv = setInterval(() => { getData(); }, 1000);
        $('#btn').click(function () {
            getData();
        });
    });
</script>